{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css?v=1' %}?v=20180601">
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<span id="error_msg"></span>
<div class="form-dashboard">
<form method="post">
  <input type="radio" name="myRadio" id="steem" value="steem" class="dashboard_radio" onclick="check_radio(this.value)" checked> Steem
  <input type="radio" name="myRadio" id="golos" value="golos" class="dashboard_radio" onclick="check_radio(this.value)"> Golos
  <input type="radio" name="myRadio" value="sum" id="sum" class="dashboard_radio" onclick="check_radio(this.value)"> Sum
</form>

<form method="post" id="date-form-choice">
{% csrf_token %}
  <button type="button"  id="btn_7" value="7"  class="btn" onclick="data_from_button(this)">7 days</button>
  <button type="button"  id="btn_30" value="30" class="btn" onclick="data_from_button(this)">30 days</button>
  <button type="button"  id="btn_90" value="90"  class="btn" onclick="data_from_button(this)">3 months</button>
</form>

<form method="get" id="date-form">
    <span>Date from </span><input type="date" name="date_from">
    <span>Date to </span><input type="date" name="date_to">
    <input type="button" class="btn" value="show" onclick="data_from_input(this.form)">
</form>

<a href="{% url 'graph:all_stats' %}"><input type="button" class="btn" value="ALL STATS"></a>
<div><span id="error">Date to must be less than Date now</span></div>
<div id="logout_dashboard">
    <form method="get" action="{% url 'graph:logout' %}">
        <input type="submit" class="btn" value="Logout">
    </form>
</div>
</div>
<div class="grid-dashboard">
    <div id="graph1"></div>
</div>
<div class="grid-dashboard">
    <div id="graph2"></div>
</div>
<div class="grid-dashboard">
    <div id="graph3"></div>
</div>
<div class="grid-dashboard">
    <div id="graph4"></div>
</div>
<div class="grid-dashboard">
    <div id="graph5"></div>
</div>
<div class="grid-dashboard">
    <div id="graph6"></div>
</div>
<div class="grid-dashboard">
    <div id="graph7"></div>
</div>
<div class="grid-dashboard">
    <div id="graph8"></div>
</div>
<script src="{% static 'js/dashboard.js'%}"></script>
</body>
</html>
