{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', '{{ name_1 }}');
          {% if flag %}
            data.addColumn('number', '{{ name_2 }}');
                    data.addRows([
                        {% for i , j, k in values %}
                            ['{{ i }}', {{ j }}, {{ k }}],
                        {% endfor %}
                            ]);
          {% else %}
            data.addRows([
                {% for i , j in values %}
                    ['{{ i }}', {{ j }}],
                {% endfor %}
                ]);
          {% endif %}

        var options = {
          title: 'Graph',
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
        };

       var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
  </body>
</html>

















{#<!DOCTYPE html>#}
{#{% load googlecharts %}#}
{#<div id="count_graph"></div>#}
{##}
{#{% googlecharts %}#}
{#    {% data values "count" %}#}
{#            {% col "string" "Date" %}"{{ val }}"{% endcol %}#}
{#            {% col "number" "fee in day" %}{{ val }}{% endcol %}#}
{#    {% enddata %}#}
{##}
{#    {% options %}#}
{#        kind: "LineChart",#}
{#        options: {#}
{#        backgroundColor: "#f9f9f9",#}
{#        colors: ["#09f"],#}
{#        gridlineColor: "#ddd",#}
{#        legend: "none",#}
{#        vAxis: {minValue: 0},#}
{#        chartArea: {left: 140, top: 120, width: 540, height: 580},#}
{#        width: 1000,#}
{#        height: 840#}
{#    }#}
{#    {% endoptions %}#}
{##}
{#    {% graph "count_graph" "count" %}#}
{#{% endgooglecharts %}#}
