{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            {% for itm in headers %}
                {% for k, v in itm.items %}
                    data.addColumn('{{ v }}', '{{ k }}');
                {% endfor %}
            {% endfor %}
            data.addRows([
                {% for i in data %}
                    ['{{ i.0 }}', {{ i.1 }}, {{ i.2 }}, {{ i.3 }}, {{ i.4 }}],
                {% endfor %}
            ]);

            var options = {
                chart: {
                    title: '{{ title }}',
                    subtitle: '{{ subtitle }}'
                },
                width: window.innerWidth * 0.97,
                height: window.innerHeight * 0.97,
                vAxis: {
                    title: '{{ title }}',
                    format: 'decimal',
                    textStyle: {
                        fontSize: 16
                    }
                },
                hAxis: {
                    gridlines: { count: 1 },
                    textStyle: {
                        fontSize: 16
                    }
                }
            };

            var chart = new google.charts.Line(document.getElementById('chart_div'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>

<body>
<div id="chart_div"></div>
</body>
</html>
