<!DOCTYPE html>
{% load googlecharts %}
<div id="count_graph"></div>

{% googlecharts %}
    {% if flag %}
            {% data values "count" %}
            {% col "string" "Date" %}"{{ val }}"{% endcol %}
            {% col "number" "steem" %}{{ val }}{% endcol %}
            {% col "number" "golos" %}{{ val }}{% endcol %}
            {% enddata %}
    {% else %}
            {% data values "count" %}
            {% col "string" "Date" %}"{{ val }}"{% endcol %}
            {% col "number" "ratio" %}{{ val }}{% endcol %}
            {% enddata %}
    {% endif %}


    {% options %}
        kind: "LineChart",
        options: {
        backgroundColor: "#f9f9f9",
        color1: ["#09f"],
        color2: ["#05f"],
        gridlineColor: "#ddd",
        legend: "none",
        vAxis: {minValue: 0},
        chartArea: {left: 140, top: 120, width: 540, height: 580},
        width: 1000,
        height: 840
    }
    {% endoptions %}

    {% graph "count_graph" "count" %}
{% endgooglecharts %}