{% extends "index.html" %}
{% load staticfiles %}
{% block contenthead %}
{% endblock %}

{% block contentmidle %}
    <table border="3" class="table_stats">
        <caption class="title_table">Stats Steem</caption>
        {% for i in data_steem %}
            {% if forloop.first	 %}
                <tr>
                    {% for j in heder_table %}
                        <th class="table_stats_row">{{ j }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for j in i.1 %}
                <td class="table_stats_row">{{ j }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

        <table border="3" class="table_stats">
        <caption class="title_table">Stats Golos</caption>
        {% for i in data_golos %}
            {% if forloop.first	 %}
                <tr>
                    {% for j in heder_table %}
                        <th class="table_stats_row">{{ j }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for j in i.1 %}
                <td class="table_stats_row">{{ j }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <table border="3" class="table_stats">
        <caption class="title_table">General stats</caption>
        {% for i in data_golos_steem %}
            {% if forloop.first	 %}
                <tr>
                    {% for j in heder_table %}
                        <th class="table_stats_row">{{ j }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for j in i.1 %}
                <td class="table_stats_row">{{ j }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block footer %}
{% endblock %}
