{% extends "index.html" %}
{% load staticfiles %}
{% block contenthead %}
{% endblock %}

{% block contentmidle %}
    {% for table in list_tables %}
        <table border="3" class="table_stats">
        <caption class="title_table">{{ table.title_table }}</caption>
        {% for i in table.table_data %}
            {% if forloop.first	 %}
                <tr>
                    {% for j in heder_table %}
                        <th class="table_stats_row">{{ j }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
            {% for j in i.1 %}
                <td class="table_stats_row">{{ j }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}
