{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=20170707">
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<span id="error_msg"></span>
<form method="post">
  <input type="radio" name="myRadio" id="steem" value="steem" onclick="check_radio(this.value)" checked> Steem
  <input type="radio" name="myRadio" id="golos" value="golos" onclick="check_radio(this.value)"> Golos
  <input type="radio" name="myRadio" value="sum" id="sum" onclick="check_radio(this.value)"> Sum
</form>

<form method="post" id="date-form-choice">
{% csrf_token %}
  <button type="submit"  value="7" name="date-choice" onclick="added_data_in_form()">7 days</button>
  <button type="submit"  value="30" name="date-choice" onclick="added_data_in_form()">30 days</button>
  <button type="submit"  value="6" name="date-choice" onclick="added_data_in_form()">6 months</button>
</form>

<form method="get" id="date-form">
    <span>Date to</span><input type="date" name="date_to">
    <span>Date from</span><input type="date" name="date_from">
    <input type="button" value="show" onclick="added_data_in_form(this.form)">
</form>

<div class="grid-dashboard">
    <div id="graph1"></div>
</div>
<div class="grid-dashboard">
    <div id="graph2"></div>
</div>
<div class="grid-dashboard">
    <div id="graph3"></div>
</div>
<script>
    var name_data, data_graph;
    function checkNameRatio (name_data) {
        if (name_data==='golos'){
            data_graph = 'data_glos'
        }
        else if (name_data==='sum'){
            data_graph='data_sum'
            }
        else
            data_graph='data_steem';
    }
    checkNameRatio(name_data);
    function check_radio(platform) {
        name_data = document.getElementsByName("myRadio").value = platform;
        checkNameRatio(name_data);
        drawGraphs(data_graph_1);
        drawGraphs(data_graph_2);
        drawGraphs(data_graph_3);

        }
    var api_query = {'date_to': null,
                    'date_from': null};
    var data_graph_1, data_graph_2, data_graph_3;
    function get_data(api_query) {
        if (api_query['date_to'] != null) {
            var date_from = '&date_from=' + api_query['date_from'];
            var date_to = '&date_to=' + api_query['date_to'];
        }
        else {
            var date_from = '';
            var date_to = '';
        }
        var api = ['?graph=1', '?graph=2', '?graph=3'];
        api.forEach(function(item, i, arr) {
        $.getJSON('.'+ item+date_to+date_from, function (data) {
        if (i==0) {
             data_graph_1 = data;
             drawGraphs(data_graph_1);

        }
        else if (i==1){
            data_graph_2 = data;
            drawGraphs(data_graph_2);


        }
        else if (i==2){
            data_graph_3 = data;
            drawGraphs(data_graph_3);

        }
    })})}
    function drawGraphs(data) {
        var chart_div = document.getElementById(data['name_div']);
        var dataY1 = {
            'x' : data['date'],
            'y': data[data_graph][0],
             type: 'scatter',
             name: data['name_data_line_1']

        };
        var dataY2 = {
            'x': data['date'],
            'y': data[data_graph][1],
            type: 'scatter',
            name: data['name_data_line_2']
        };
        var data_res = [dataY1, dataY2];
        var layout = {
                    title: data['title'],
                    width: 850,
                    height: 500
                };
        Plotly.newPlot(chart_div, data_res, layout);
    }
    get_data(api_query);
    function added_data_in_form(form) {
        var elems = form.elements;
        api_query['date_to'] = elems.date_to.value;
        api_query['date_from'] = elems.date_from.value;
        get_data(api_query);

    }
</script>
</body>
</html>
