{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<script>
    {% for i in res %}
        var chart_div = document.getElementById('{{ i.name_data_line_1 }}');
        var layout = {
                    title: '{{ i.title }}'
                };
        var  date_x = jQuery.parseJSON('{{ i.date }}');

        Plotly.newPlot(chart_div, [{x: {{ i.date }}, y: {{i.data_steem.0 }}, name:'{{ i.name_data_line_1 }}'},
            {x:{{ i.date }}, y: {{i.data_steem.1 }}, name:'{{ i.name_data_line_2 }}' }], layout);
    {% endfor %}
</script>
<div id="DAU"></div>
<div id="Count posts"></div>
<div id="Count comments"></div>
</body>
</html>
