{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block headtitle %}
            DPix
        {% endblock %}
    </title>
    <!--<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" >-->
    <script>
        window.dpix = window.dpix || {};
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
