{% extends "index.html" %}
{% load staticfiles %}
{% block contenthead %}
{% endblock %}

{% block contentmidle %}
  <h3>dPay</h3>
  {% for post in data_dpay.results %}
  <div class="post-wrapper">
    <div class="img" style="background-image: url({{ post.media.0.url }});"></div>
    Link: <a href="//beta.dpix.io/post{{ post.post_url }}" target="_blank">{{ post.post_url }}</a><br>
    Is Unique: {% if post.is_plagiarism %}No{% else %}Yes{% endif %}
  </div>
  {% endfor %}
  <br>
  <a href="{% url 'core:post_analitycs' %}?offset={{data_dpay.results.19.url}}">Next</a>
{% endblock %}

{% block footer %}
{% endblock %}
